/* write your override styles here */
/* Cleanup overrides for graffiti tags */

/* Hide tag 1 */
#wall .tag-1 {
  display: none;
}

/* Hide tag 2 */
#wall .tag-2 {
  display: none;
}

/* Hide tag 3 */
#wall .tag-3 {
  display: none;
}

/* Hide tag 4 */
#wall .tag-4 {
  display: none;
}

/* Hide tag 5 */
#wall .tag-5 {
  display: none;
}

/* Hide tag 6 */
#wall .tag-6 {
  display: none;
}

/* Hide tag 7 */
#wall .tag-7 {
  display: none;
}

/* Hide tag 8 */
#wall .tag-8 {
  display: none;
}

/* Hide tag 9 */
#wall .tag-9 {
  display: none;
}

/* Hide tag 10 */
#wall .tag-10 {
  display: none;
}
